<div>
  <p>Autor:<%= author %></p>
  <img src="/images/gato.png" alt="Imagen de un gato" style="height:120px;">
  <video height="120" controls preload>
    <source src="/videos/chiste_monjas.mp4" type="video/mp4">
  	<source src="/videos/chiste_monjas.webm" type="video/webm">
  	Tú navegador no soporta la etiqueta de video
  </video>
</div>
